/* Popup container styles */
.voucherPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 100px 400px rgba(0, 0, 0, 0.1);
    z-index: 100;
    width: 70%; /* Increased width */
    /* Limit maximum width  max-width: 800px; */
    height: 100%; /* Increased height */
     /* Limit maximum height max-height: 600px; */
    overflow: auto; /* Enable scrollbar if content exceeds height */
    border-radius: 15px;
}

/* Inner content of the popup */
.voucherPopup-inner {
    border: 1px solid #ccc;
    height: 40rem; /* Ensure inner content can expand */
    border-radius: 7px;
}

/* Table styles inside the popup */
.voucherPopup-inner table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    overflow: auto;
    height: 100%; /* Increased height of the table */
     /* Limit maximum height of the table max-height: 500px;*/
}

.voucherPopup-inner table th,
.voucherPopup-inner table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
}

.voucherPopup-inner table thead {
    position: sticky;
    top: 0;
    z-index: 2;
    white-space: nowrap;
}

.voucherPopup-inner table tbody tr:hover {
    background-color: #f2f2f2;
}

/* Button styles inside the popup */
.voucherPopup-inner button {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #0275d8;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.voucherPopup-inner button:hover {
    background-color: #0275d8; /* Slightly darker shade on hover */
}

.button_search {
    margin-left: 10px; /* Slightly increased margin */
}

.table_margin {
    margin-left: 10px;
    margin-right: 10px;
}

.margin_input {
    margin-top: 5px;
}

.voucherPopup-inner input {
    border: 1px solid #ccc; /* Ensure input fields have a visible border */
    padding: 8px;
    font-size: 14px; /* Adjust font size if needed */
}

.paddingScrip {
    padding: 5px;
}

.header_color {
    text-align: center;
    background-color: #0275d8;
    color: white;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 7px 7px 0px 0px;
}

.branch_width {
    width: 105px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.voucher_width {
    width: 130px;
    margin-bottom: 10px;
}

.formDt_width {
    width: 115px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.height_voucher_input {
    height: 40px;
    width: 234px;
}

.form_dt_input {
    height: 40px;
    width: 100px;
}

.todate_width {
    width: 70px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.todt_input {
    width: 100px;
}

.accountName_width {
    width: 115px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.accountName_input {
    width: 280px;
}

.booktype_label {
    width: 90px;
}

.btn_height {
    width: 8.1rem;
    height: 2.7rem;
}

.booktype_input {
    height: 40px;
    width: 234px;
}

.branch_input {
    width: 280px;
}

.table-container-search {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 400px; /* Adjust height as needed */
    height: 400px;
}

.table-wrapper {
    width: 100%;
    overflow: auto;
}

.close_btn-2{
    background-color: rgb(255, 194, 80) !important;
    color: black !important;
    margin-top: 4px;
}


.label-prop {
    /*flex: 0 0 35%; /* Takes up 30% of the container width */
    width: 8rem;
    margin-bottom: 0.01rem;
    text-align: left; /* Aligns text to the right */
    align-content: center !important;    
    height: 2.8rem !important;
    /*margin-right: 1rem; /* Space between label and input */
    margin-left: 1rem ;
}

.ddl_prop {
    width: 18rem !important;
    align-content: center !important; 
    height: 2.7rem !important;
}

.ddl_prop9 {
    width: 9rem !important;
    align-content: center !important; 
    height: 2.7rem !important;
}


.input_prop {
    width: 18rem !important;
    align-content: center !important; 
    height: 2.7rem !important;
}

.input_date_prop {
    width: 8.6rem !important;
    align-content: center !important; 
    height: 2.7rem !important;
}

.margin_prop5 {
    margin-left: 5rem ;

}

.tab_row_search {
    height: 1rem !important;
}
