.togglebtn {
  font-size: 20px;
  cursor: pointer;
  padding: 8px 19px;
  position: relative;
  right: 382px;
  background-color:rgb(84, 79, 79) ;
  border-radius: 7px; /* Position button absolutely inside .main-content */
}
