/* styles.css */
.custom-table tr, .custom-table td {
    padding: 5px !important; /* Adjust padding to reduce height */
    line-height: 1 !important; /* Adjust line height */
  }
  
  .table th {
  text-align: center;
  } 
  
  .table td{
  overflow: auto;
  table-layout: auto !important;
  white-space: nowrap;
  }
  .display_flex{
    display:flex !important;
    justify-content: space-between;
  }
  .select_width{
    width:150px !important;
    height: 20px;
    margin-left: 5px;
  
  }
  .td_hide{
    display:none !important;
  }
  
  .select_file_upl_width{
    width:500px !important;
    height: 20px;
    margin-left: 5px;
  }
  
  .buttonw{
    width:"120px";
    height:"20px";
  }
  
  
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .form-control-sm {
      font-size: 14px;
    }
  
    .card {
      padding: 10px;
    }
  
    .display_flex {
      flex-direction: column;
      align-items: stretch;
    }
  
    .form-group {
      width: auto;
      margin-bottom: 10px;
    }
  
    .select_width {
      width: 100%;
    }
  
    .btn {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .select_file_upl_width {
      width: 100%;
    }
  
    .form-control-sm {
      font-size: 14px;
      height: auto; /* Allow for flexible height */
    }
  
    .form-group .btn {
      width: 100%;
    }
  
    .input-container {
      flex-direction: column;
      align-items: stretch;
      margin-top: 10px;
    }
  }
  
  .input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
  }
  
  .input-container input,
  .input-container button {
    margin-right: 10px;
  }
  
  .input-container input:last-child,
  .input-container button:last-child {
    margin-right: 0;
  }
  
  .card-header-css {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    color: white !important;
    background-color: #0275d8 !important;
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
    text-align: center;
  }
    
  .container-common{
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .label-color-common{
  color:darkblue;
  }
  @media (max-width: 768px) {
    .container-common{
      width: 100%;
      padding-left: 0rem;
      padding-right: 0rem;
    }
  }
